body {
  font-family: sans-serif;
  line-height: 1;
  margin: 1rem auto 0;
  padding: 1rem;
  max-width: 40rem;
  background-color: #f0f2f5;
}
p {
  line-height: 1.5;
}
header {
  display: flex;
  align-items: center;
}
section {
  margin: 2rem 0;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.2s ease;
}
section:hover {
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
}
h1,
summary,
a,
a:visited {
  color: #06c;
  text-decoration: none;
}
summary {
  font-weight: bold;
  margin-bottom: 2rem;
}
h2 {
  margin: 0;
  padding: 1rem;
  color: #036;
}
.hero {
  position: relative;
  max-height: 12rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.hero img {
  width: 100%;
}
section p {
  margin: 0;
  padding: 1rem;
}
.button {
  display: inline-block;
  position: relative;
  margin: 0 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #06c;
  border: #06c 2px solid;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.button:hover {
  background-color: white;
  color: #06c;
}
code,
kbd {
  font-family: sans-serif;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
code {
  background-color: #06c;
  color: white;
}
kbd {
  background-color: #eee;
  color: #333;
}
footer {
  color: #666;
}
@media (min-width: 800px) {
  header {
    margin-left: -3rem;
  }
  .button:before {
    content: '↑ Drag the button to your Bookmarks Bar to use in Compass.';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    background-color: #06c;
    color: white;
    text-align: center;
    line-height: 1.5;
    height: 0;
    transition: height 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
  }
  .button:hover:before {
    height: 1.5rem;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
  }
  .button:after {
    content: '← drag to your bookmarks';
    position: absolute;
    width: 12rem;
    left: 2rem;
    margin-left: 100%;
    transition: left 0.2s ease;
    color: #06c;
  }
  .button:hover:after {
    left: 1rem;
  }
}